@use "colors" as *;
@use 'fonts' as *;

.aka{
    &__wrap{
        padding: 10.8rem 0;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 50%;
            bottom: 3rem;
            max-width: 67rem;
            max-height: 45rem;
            width: 100%;
            height: 100%;
            background: url("./images/akd-d-model-gradi-1.svg") no-repeat center center/contain;
            z-index: -1;
            opacity: 0.25;
            filter: blur(20px);
            transform: translate3d(0, 0, 0) translateX(50%);
            will-change: tramsform;
        }
    }
    &__header{
        @extend %header-h2;
        color: $light;
        margin-bottom: .8rem;
    }
    &__subheader{
        @extend %header-h2;
        color: $green;
        margin-bottom: 2.4rem;
    }
    &__subtitle{
        @extend %body-1;
        color: $grey;
        margin-bottom: 6.4rem;
    }
    &__box{
        display: flex;
        gap: .8rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__paralellogram{
        padding: 3.75rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .4rem;
        max-width: 39.2rem;
        width: 100%;
        position: relative;
        height: fit-content;
        &:before{
            content: '';
            position: absolute;
            width: 93%;
            height: 100%;
            background-color: $green-bg;
            z-index: -1;
            transform: skewX(-10deg);
        }
        &-orange{
            &:before{
                background-color: $orange-bg;
            }
            .aka__name{
                color: $orange;
            }
        }
    }
    &__name{
        @extend %header-h3;
        color: $green;
        text-align: center;
    }
    &__text{
        @extend %body-1;
        color: $light;
        text-align: center;
    }
    &__mid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__arrow{
        @extend %caption;
        color: $light;
    }
    &__core{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.18rem;
    }
    &__aikido{
        text-align: center;
        font-family: "Aldrich", sans-serif;
        font-size: 3.8rem;
        line-height: 120%;
        text-transform: uppercase;
    }
}

@media (max-width: 1100px) {
    .aka{
        &__box{
            gap: 1.8rem;
        }
        &__core{
            img{
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 968px) {
    .aka{
        &__core{
            img{
                max-width: 100%;
            }
        }
        &__aikido{
            font-size: 1.6879rem;
            line-height: 120%;
        }
        &__mid{
            svg{
                width: 6rem;
            }
        }
        &__text{
            font-size: 1.4rem;
        }
        &__name{
            font-size: 2.4rem;
        }
        &__paralellogram{
            padding: 2rem 2rem;
        }
        &__wrap{
            padding: 6rem 0;
        }
    }
}

@media (max-width: 500px) {
    .aka{
        &__header, &__subheader, &__subtitle{
            text-align: center;
        }
        &__box{
            flex-direction: column;
            align-items: center;
        }
        &__paralellogram{
            padding: 2.8rem 2rem;
        }
        &__mid{
            height: 10rem;
            justify-content: space-around;
            svg{
                transform: rotate(90deg);
            }
            &-r{
                flex-direction: column-reverse;
                margin-top: 2rem;
            }
        }
        &__wrap{
            &::before{
                top: 60%;
                transform: translate3d(0, 0, 0) translate(50%, -50%);
            }
        }
        &__core{
            img{
                max-height: 15rem;
            }
        }
    }
}